#part8 {
    padding: 5% auto;
    margin: 2% auto;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
  }


  .part8 {
    width: 80%;
    margin: auto;
  }


  .part8-heading {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 36px;
  }


  .part8-content {
    position: relative;
    width: 70%;
    height: 60vh;
    margin: 5vh auto;
  }


  .part8-slide1,
  .part8-slide2,
  .part8-slide3,
  .part8-slide4,
  .part8-slide5 {
    width: 100%;
    height: 100%;
    border-radius: 1.5vh;
  }

  .part8-slide1 {
    background: url("https://storage.googleapis.com/lumen5-site-images/website-assets/usecase-dnvgl.png");
  }


  .part8-slide2 {
    background: url("https://storage.googleapis.com/lumen5-site-images/website-assets/usecase-mhi.png");
  }


  .part8-slide3 {
    background: url("https://storage.googleapis.com/lumen5-site-images/website-assets/usecase-nc.png");
  }


  .part8-slide4 {
    background: url("https://storage.googleapis.com/lumen5-site-images/website-assets/usecase-cms.png");
  }


  .part8-slide5 {
    background: url("https://storage.googleapis.com/lumen5-site-images/website-assets/usecase-mondadori.jpg");
  }


  .part8-slide-content {
    position: absolute;
    top: 12%;
    right: 5%;
    width: 50%;
    height: 75%;
    background: white;
    float: right;
    border-radius: 1vh;
  }
 
  
  .part8-slide-text {
    width: 80%;
    margin: 10% auto;
    font-size: 15px;
  }



  .part8-slide-text > a {
    float: right;
    margin-right: 10%;
  }


  .part8-slide-content:hover {
    transform: scale(0.95);
  }


  .part8-company {
    display: grid;
    grid-template-columns: repeat(5,16%);
    grid-gap: 4%;
    margin: auto;
    justify-content: space-between;
  }
  
  .part8-logo-images{
    width: 100%;
    height: 35px; 
  }

  .part8-logo-images:hover {
    cursor: pointer;
    transform: scale(1.1);
  }


  .part8-logo-images:hover::before {
    opacity: 1;
  }



  .previous {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    padding: 1.5% 2%;
    border-radius: 50px !important;
    border: none;
  }


  .next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    padding: 1.5% 2%;
    border-radius: 50px !important;
    border: none;
  }


  button:focus {
    border: none;
  }


  @media screen and (max-width: 1200px) {
    .part8-slide-content {
      width: 45%;
      height: auto;
    }
   
  }
  
  @media screen and (max-width: 900px) {
    .part8-slide-content {
      width: 60%;
      height: auto;
    }

    
  }
  @media screen and (max-width: 600px) {
    .part8-slide-content {
      width: 90%;
      height: auto;
    }
  
  }



  #part9 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
    margin: 90px auto;
    font-size: 20px;
    text-align: center;
    padding: 2%;
    background-color: #5846f6;
    background-image: url(./assets/images/cta-bg.png);
    border-radius: 2vw;
  }


  #part9-heading {
    font-weight: 700;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 1.35;
    color: white;
  }


  #part9-heading,
  #part9-cont,
  #part9-button {
    margin: 1vh auto;
    width: 70%;
  }


  #part9-cont {
    font-size: 25px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
  }


  #part9-btn {
    padding: 1%;
    font-size: 25px;
    width: 180px;
    color: #5846f6;
    background-color: white;
    border: white;
    border-radius: 2.5vw;
    box-shadow: inset 0 0 0 0 rgb(235, 210, 210);
    transition: ease-out 0.3s;
  }

  
  #part9-btn:hover {
    box-shadow: rgb(223, 221, 221);
    box-shadow: inset 300px 0 0 0 rgb(252, 249, 249);
    cursor: pointer;
    color: #5846f6;
  }